<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How To Use MovieVerse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Navbar -->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>

    <!-- How It Works Content -->
    <div class="how-it-works-container">
        <div class="how-it-works-content">
            <h2>How To Use</h2>
            <p>
                Welcome to the Movie Recommendation System! Here’s how To Use:
            </p>
            <p>
                <b>1. Select Genres:</b> Choose your favorite genres from a variety of options such as Action, Comedy, Drama, and more.
            </p>
            <p>
                <b>2. Select Your Preference:</b> Choose your preference for recommendations—either based on high ratings or recent releases.
            </p>
            <p>
                <b>3. Get Recommendations:</b> Once you've made your selections, hit "Get Recommendations" and the system will show you the top 10 movies based on your criteria.
            </p>
            <p>
                <b>Explore and Enjoy the latest movies up to 2024 with personalized recommendations!</b>
            </p>
        </div>
    </div>
</body>
</html>
